<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue Intro</title>
    </head>


    <body>
        <script src="https://unpkg.com/vue"></script>

        <div id="myVueItem">
        
            <h1>{{title}}</h1>
            <p id="output"></p>
            <p v-if="visible">This is visible</p>
        
            <ul>
                <li v-for="item in items">{{item}}</li>  
            </ul> 
        </div>

        <button id="visi">visible?</button>
        

<!-- End of Markup -->

        <script>

            let component1 = new Vue({
                el : '#myVueItem',
                data : {
                    title : 'Vue is good to go!',
                    text : 'lorem dsogl lseok orklgk  lkimewlgk imlksmv  imiml',
                    visible : false,
                    items : ["toothbrush",
                            "toothpaste",
                            "dental floss"]
                },
                methods : {
                    printTitle(){console.log("The title of this component is " + this.text)}
                }
            });

            document.getElementById("output").innerHTML = component1.$data.text;

            document.getElementById("visi").onclick = function() {

                if (component1.$data.visible === true) {
                    component1.$data.visible = false;
                } else {
                    component1.$data.visible = true;
                }
            }

        </script>
    </body>
</html>