<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue Intro</title>
    </head>


    <body>
        <script src="https://unpkg.com/vue"></script>

        <div id="myVueItem">
        <!--             
            <button @click='printTitle'>Test</button>
        -->

            <!-- Titlw -->
            <h1>{{title}}</h1>

            <!-- Control Panel -->
            <button v-if="STATE === false" @click="changeState(true)">Add Item</button>
            <button v-else-if="STATE === true" @click="changeState(false)">Cancel</button>

            <!-- Todo's List -->
            <template v-if="STATE === true">

                <p id="output"></p>

                <input type="text" v-model="newItem" @keyup.enter="addItem">
                <button :disabled="newItem == ''" @click="addItem">Add Item</button>
            
                <ul>
                    <li v-for="item in items">{{item}}</li>  
                </ul> 
            
            </template>

        </div>

<!-- End of Markup -->

        <script>

            let component1 = new Vue({
                el : '#myVueItem',
                data : {
                    title : 'Vue Todo App',
                    text : 'Add an Item to the list:',
                    newItem : "",
                    visible : true,
                    items : ["toothbrush",
                            "toothpaste",
                            "dental floss"],
                    STATE: false
                },
                methods : {
                    printTitle(){console.log("The title of this component is " + this.text)},
                    addItem() {
                        this.items.push(this.newItem)
                        this.newItem = ""
                    },
                    changeState(s) {this.STATE = s}
                }
            });

            document.getElementById("output").innerHTML = component1.$data.text;

        </script>
    </body>
</html>